<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP Admin Centre - Add Category </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="<?= base_url('application/views/styles/general.css');?>" rel="stylesheet" type="text/css" />
	<link href="<?= base_url('application/views/styles/main.css');?>" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="<?=site_url('admin/category/index');?>">Goods Categories</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP Admin Center </a> </span><span id="search_id" class="action-span1"> - 添加分类 </span>
<div style="clear:both"></div>
</h1>
<!-- start add new category form -->
<div class="main-div">
  <form action="<?php echo site_url('admin/category/update') ?>" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
	 <table width="100%" id="general-table">
		<tbody>
			<tr>
				<td class="label">Categorical Name:</td>
				<td><input type="text" name="cat_name" maxlength="20" value="<?php echo $current_cat['cat_name']; ?>" size="27"> <font color="red">*</font></td>
			</tr>
			<tr>
				<td class="label">Parent Category:</td>
				<td>
					<select name="parent_id">
						<option value="0">Top Category</option>
                        <?php foreach($cates as $cate):?>
						<option value="<?php echo $cate['cat_id'];?>" <?php echo $current_cat['parent_id'] == $cate['cat_id'] ? 'selected': ''; ?>>
                            <?php echo str_repeat('&nbsp;&nbsp;',$cate['level']);?><?php echo $cate['cat_name'];?>
                        </option>
                        <?php endforeach;?>
					</select>
				</td>
			</tr>

			<tr id="measure_unit">
				<td class="label">Unit:</td>
				<td><input type="text" name="measure_unit" value="<?php echo $current_cat['unit']; ?>" size="12"></td>
			</tr>
			<tr>
				<td class="label">Order by:</td>
				<td><input type="text" name="sort_order" value="<?php echo $current_cat['sort_order']; ?>" size="15"></td>
			</tr>

			<tr>
				<td class="label">Display:</td>
				<td><input type="radio" name="is_show" value="1" checked="true"> Yes <input type="radio" name="is_show" value="0"> No </td>
			</tr>
			<tr>
				<td class="label">Display in the Navigation:</td>
				<td><input type="radio" name="show_in_nav" value="1"> Yes  <input type="radio" name="show_in_nav" value="0" checked="true"> No    </td>
			</tr>
			<tr>
				<td class="label">Set as the recommended goods in the home page: </td>
				<td>
					<input type="checkbox" name="cat_recommend[]" value="1"> Essential Goods
					<input type="checkbox" name="cat_recommend[]" value="2"> Newest Goods
					<input type="checkbox" name="cat_recommend[]" value="3"> Hottest Goods
				</td>
			</tr>
      <tr>
        <td class="label">Category Description:</td>
        <td>
          <textarea name="cat_desc" rows="6" cols="48">
              <?php echo $current_cat['cat_desc']; ?>
          </textarea>
        </td>
      </tr>
      </tbody></table>
      <div class="button-div">
        <input type="submit" value=" Confirm ">
        <input type="reset" value=" Reset ">
      </div>
    <input type="hidden" name="act" value="insert">
    <input type="hidden" name="old_cat_name" value="">
    <input type="hidden" name="cat_id" value="<?php echo $current_cat['cat_id'];?>">
  </form>
</div>



<div id="footer"> Created by He Fan 2019 Using Codeigniter  </div>

</div>

</body>
</html>